body {
    background-color: #FFC107;
    text-align: center
}

::-webkit-scrollbar {
    display: none;
}

.top {
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    position: fixed;
    background: #FFA000;
}

.profile {
    left: 50%;
    -top: 300px;
    height: 150px;
    width: 300px;
    margin-left: -150px;
    margin-top: 100px;
    position: fixed;
}

.profile_img {
    border-radius: 10%;
    overflow: hidden;
    width: 150px;
    height: auto;
}

.holder {
    left: 0;
    right: 0;
    top: 450px;
    bottom: 0;
    position: fixed;
    background: white;
    overflow-y: scroll;
}

.middle {
    display: inline-block;
    max-width: 680px;
}

.social {
    float: left;
    margin: 25px;
    margin-bottom: -25px;
}

h2 {
    position: relative;
    top: -10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

h2 span {
    font: bold 24px Helvetica;
    color: #212121;
    letter-spacing: -1px;
}

.profile_text span {
    color: #FFECB3;
}

.social_button {
    width: 120px;
    height: auto;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.social_button:hover {
    transform: scale(1.1, 1.1);
}

.social_button:active {
    transform: scale(0.9, 0.9);
}
